@import 'tailwindcss';

.container {
  width: 95%;
  margin: auto;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  background-color: #f5f0f0;
  overflow-x: hidden;
}

p {
  font-size: 14px;
  line-height: 25px;
}

.MuiBadge-badge {
  background-color: #ff5722 !important;
}

.link:hover {
  color: #ff5722;
}

.sliderHome {
  overflow: inherit !important;
}

.swiper-button-next,
.swiper-button-prev {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  min-width: 45px;
  min-height: 45px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1) !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 22px !important;
  color: black;
}

.ProductSlider .swiper-wrapper {
  padding: 15px;
  margin-left: -15px;
  margin-right: -15px;
}

.MuiCheckbox-root {
  padding: 6px !important;
}

.productContent .actions button {
  color: black !important;
  min-width: 40px !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
}

.cartPanel .MuiPaper-root {
  width: 400px !important;
  overflow: hidden !important;
}

.custom-scroll {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.custom-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
